@keyframes fadeIn {
    from {opacity:20%;}
    to {opacity: 100%;}
}

.btn-logout{
    position: absolute;
    right: 50px;
    border-radius: 4px;
    background-color: transparent;
    border: 1px solid gray;
    padding: 10px;
    color: gray;
    text-decoration: none;
}

.btn-logout:hover{
    background-color: gray;
    color: rgb(59, 59, 59);
    transition: 0.3s;
}


.sidebar{
    height:auto;
    background-color: rgb(88, 88, 88);
    padding: 0;
    box-shadow: -5px 0px 10px rgba(0, 0, 0, 0.596);
}
.sidebar hr{
    height: 1px;
    color: beige;
    background-color: beige;
}


.profile-img{
    height: 120px;
    width: 120px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    margin-top: 40px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.596);
}

.name-tag{
    margin-top: 10px;
    width: 100%;
    height: 40px;
    text-align: center;
    color: beige;
}

.sidebar-btn{
    padding-top: 10px;
    padding-bottom: 200px;
}

.sidebar-btn li{

    line-height: 20px;
    list-style: none;
    text-align: center;
}

.sidebar-btn li a{
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 13px;
    display: block;
    text-decoration: none;
    color: rgb(220, 241, 245);
}

.sidebar-btn li:hover{
    background-color: #646464;
    transition: 0.5s;
}

.sidebar-btn li.active{
    background-color: #424242;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.596);
}

.dot-deactive {
    height: 10px;
    width: 10px;
    background-color: rgb(247, 16, 16);
    border-radius: 50%;
    display: inline-block;
  }

.dot-active {
    height: 10px;
    width: 10px;
    background-color: rgb(10, 233, 48);
    border-radius: 50%;
    display: inline-block;
  }

.indicator{
    display: block;
    font-size: 12px;
    margin-bottom: 10px;
    color: gray;
}

.tab{
    display: none;
    background-color: #fffbea;
    animation-name: fadeIn;
    animation-duration: 0.5s;
    box-shadow: -5px 0px 10px rgba(0, 0, 0, 0.596);
    padding-bottom: 20px;
}

.tab-heading{
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 25px;
    color: #583a3a;
    display: block;

}
.tab hr{
    margin-top: 0;
    height: 2px;
    color: rgb(133, 131, 110);
    background-color: rgb(133, 131, 110);
}


.sub-tab{
    display: none;
    background-color: #f5f3ee;
    padding: 10px;
    border: 2px solid #b3aa85;
    animation-name: fadeIn;
    animation-duration: 0.2s;
}
.sub{
    background-color: #f5f3ee;
    padding: 10px;
    border: 2px solid #b3aa85;
}


#tab-btn button{
    background-color: #c0b99f;
    border: none;
}

#tab-btn button.active{
    background-color: #9b916a;
    border: none;
}


.footer-text{
    color: grey;
    padding-top: 20px;
    padding-left: 30px;
    padding-bottom: 20px;
    
}
.footer-text h1{
    color: rgb(161, 160, 160);
    font-size: 30px;
}

.footer-dashboard{
    background-color: #4e4e4e;
    color:rgb(154, 179, 179);
    height: 50px;
    padding-top: 20px;

}

.footer-icon{
    padding-top: 20px;
    padding-bottom: 20px;
}



.fa {
  padding: 20px;
  font-size: 40px;
  width: 50px;
  height: 50px;
  text-align: center;
  margin-left: 10px;
  text-decoration:none;
  color: gray;
  
}
  
  /* Add a hover effect if you want */
  .fa:hover {
    transition: 0.3s;
    opacity: 0.7;
  }
